<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FleetSystem.Properties.Settings.InventoryConnectionString"
            connectionString="Data Source=ZA-NB-PF1DT4X0\SQLEXPRESS;Initial Catalog=Inventory;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>